<section class="section">
  <div id="subscription-form"></div>
  <div id="success-payment"></div>
  <div class="has-text-centered box">
    <h1 class="title">Pricing</h1>
    <h2 class="subtitle">Choose the best plan that matches your reading consistency and budget.</h2>

      <div class="pricing-table">

        <% @plans.each do |plan| %>
          <div class="pricing-plan is-active">
              <div class="plan-header"><%= plan.nickname %></div>
              <div class="plan-price">
                <span class="plan-price-amount"><span class="plan-price-currency">$</span><%= plan.amount / 100 %></span>/<%= plan.interval%>
              </div>
              <div class="plan-items">
                <div class="plan-item">Duration one <%= plan.interval %> </div>
              </div>
              <div class="plan-footer">
                <% if current_user %>
                <%= link_to "Subscribe", new_subscription_path(format: :js, plan_id: plan.id), remote: true,  class: "button is-primary is-rounded" %>
                <% else %>
                <%= link_to "Sing Up", new_user_registration_path,  class: "button is-primary is-rounded" %>
                <% end %>
              </div>
          </div>
        <% end %>
    </div>
  </div>
</section>
