<section class="section">
  <div class="columns is-centered">

    <div class="column is-6 product-section">
      <p class="is-pulled-right">PRODUCT</p>
      <p class="title is-5"><%= @product.name %>
      </p>
      <%= link_to "Add pricing plan", new_plan_path(product_id: @product), class: "button is-link is-outlined" %>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-6 product-section">
      <p class="title is-5">Details

        <%= link_to product_path(@product), method: :delete, title: "delete product", data: { confirm: "Are you sure "} do %>
          <span class="is-pulled-right"><i class="fa fa-trash fa" aria-hidden="true"></i></span>
        <% end %>

        <%= link_to edit_product_path(@product) do %>
          <span class="is-pulled-right"><i class="fa fa-pencil" aria-hidden="true"></i></span>
        <% end %>

      </p>

      <hr/>

      <div class="columns">
        <div class="column is-2">
          <p>Name</p>
        </div>
        <div class="column">
          <%= @product.name %>
        </div>
      </div>

      <div class="columns">
        <div class="column is-2">
          <p>Type</p>
        </div>
        <div class="column">
          <%= @product.product_type %>
        </div>
      </div>

      <div class="columns">
        <div class="column is-2">
          <p>Created</p>
        </div>
        <div class="column">
          <%= @product.created_at.strftime("%d/%m/%Y, %H:%M")%>
        </div>
      </div>

      <div class="columns">
        <div class="column is-2">
          <p>Stripe ID</p>
        </div>
        <div class="column">
          <%= @product.stripe_id%>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-6 product-section">
      <p class="title is-5">Pricing plans</p>
      <hr/>

      <% @product.plans.each do |plan|%>
        <%= link_to plan_path(plan) do %>
          <div class="columns">

            <div class="column">
              <%= plan.nickname %>
              <%= plan.currency %> <%= plan.amount %> / <%= plan.interval %>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</section>
