 <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class:"navbar-item" do %>
      <h1 class="title is-5 has-text-white">BookLibrary</h1>
    <% end  %>
    <div class="navbar-burger burger" data-target="navbar">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <% if false %>
        <div class="navbar-item">
          <%#= link_to library_index_path, class: 'navbar-item button is-dark' do %>
            <i class="fa fa-book"></i> &nbsp;&nbsp; My Library
          <%# end %>
        </div>
      <% end %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <% if false %>
          <%= link_to 'New Book', new_book_path, class:'button is-dark' %>
        <% end %>
        <% if user_signed_in? %>
        <div class="field is-grouped">
        <p class="control">
          <%= link_to "Create Product", new_product_path, class:"navbar-item button is-outlined is-info"  if current_user.admin? %>
        </p>

        <p class="control">
          <%= link_to "Create Plan", new_plan_path, class:"navbar-item button is-outlined is-success"  if current_user.admin? %>
        </p>

          <div class="navbar-item has-dropdown is-hoverable">


            <%= link_to 'Account', edit_user_registration_path, class: "navbar-link" %>

            <div class="navbar-dropdown is-right">

              <p class="dropdown-item">
                <%= link_to "Dashboard", admin_path %>
              </p>
              <%= link_to edit_user_registration_path, class:"navbar-item" do %>
                <%= current_user.name %> <% if current_user.admin? %> &nbsp; <span class="tag is-warning">ADMIN</span> <% end %>
              <% end %>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"navbar-item" %>
            </div>
          </div>

        <% else %>
        <p class="control">
          <%#= link_to 'Pricing', pricing_index_path, class: 'navbar-item button is-dark' %>
        </p>
        <p class="control">
          <%= link_to "Sign In", new_user_session_path, class:"navbar-item button is-dark" %>
        </p>
        <p class="control">
          <%= link_to "Sign up", new_user_registration_path, class:"navbar-item button is-dark"%>
        </p>
        <% end %>

      </div>
    </div>
  </div>
</div>
</nav>
